<a href="https://colab.research.google.com/github/SaumyaKumar-09/leetcode-solutions/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Movie Recommendation System**

### **Recommendation System:**

A recommendation system is a system that filters the content and gives suggestions to user's of their preferences in respective areas. This system can be used in areas like movies, music, products on e-commerce website, articles, news and many more.
It is done using two techniques:-

#### **1. Collaborative Filtering-**

In this approach content is filtered on the basis of past experience of user i.e. what the user has been using or searching and thus content is suggested of of same category.

#### **2. Content-Based Filtering-**

In this approach content is filtered on the basis of definite characteristics and thus products are suggested of matching or similar properties.

**This project will suggest movies to user on the basis of the genre, rating, casts and other factors.**

### **Data Source:** Dataset is from ybifoundation.org
**Link:-** https://github.com/YBI-Foundation/Dataset/blob/main/Movies%20Recommendation.csv

### **Dataset Read-**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Movies%20Recommendation.csv')

In [ ]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [ ]:
df.describe(include='all')

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
count,4760.000000,4760,4760,4760,4.760000e+03,4760.000000,4760,4.760000e+03,4758.000000,4760.000000,...,1699,4373,4757,4760,4760,4760,3942,4733,4760,4738
unique,NaN,4757,1164,37,NaN,NaN,3260,NaN,NaN,NaN,...,1678,4202,4757,3682,466,541,3927,4714,4747,2331
top,NaN,Batman,Drama,en,NaN,NaN,01-01-2006,NaN,NaN,NaN,...,http://www.missionimpossible.com/,independent film,It's Ted the Bellhop's first night on the job....,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Based on a true story.,William Shatner Leonard Nimoy DeForest Kelley ...,[],Steven Spielberg
freq,NaN,2,368,4465,NaN,NaN,10,NaN,NaN,NaN,...,4,55,1,325,2964,3154,3,6,14,26
mean,2382.566387,NaN,NaN,NaN,2.920129e+07,21.599510,NaN,8.263743e+07,107.184111,6.113866,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1377.270159,NaN,NaN,NaN,4.075620e+07,31.887919,NaN,1.630554e+08,21.960332,1.141294,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,0.000000e+00,0.000372,NaN,0.000000e+00,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1190.750000,NaN,NaN,NaN,9.257500e+05,4.807074,NaN,0.000000e+00,94.000000,5.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2380.500000,NaN,NaN,NaN,1.500000e+07,13.119058,NaN,1.944716e+07,104.000000,6.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3572.250000,NaN,NaN,NaN,4.000000e+07,28.411929,NaN,9.341276e+07,118.000000,6.800000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4788.000000,NaN,NaN,NaN,3.800000e+08,875.581305,NaN,2.787965e+09,338.000000,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(4760, 21)

In [ ]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

### **Features Selection**

In [ ]:
X=df[["Movie_Genre","Movie_Keywords","Movie_Tagline","Movie_Cast","Movie_Director"]]

In [ ]:
X.shape

(4760, 5)

In [ ]:
X

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,NaN,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,NaN,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,NaN,NaN,NaN,NaN
4759,Documentary,music actors legendary perfomer classic hollyw...,NaN,Tony Oppedisano,Simon Napier-Bell

In [ ]:
X=X["Movie_Genre"]+" "+X["Movie_Keywords"]+" "+X["Movie_Tagline"]+" "+X["Movie_Cast"]+" "+X["Movie_Director"]

In [ ]:
X.shape

(4760,)

In [ ]:
X

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755                                                  NaN
4756                                                  NaN
4757    Thriller Drama christian film sex trafficking ...
4758                                                  NaN
4759                                                  NaN
Length: 4760, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
extractor=TfidfVectorizer()

In [ ]:
X=extractor.fit_transform(X.values.astype("U"))

In [ ]:
X.shape

(4760, 14760)

In [ ]:
print(X)

  (0, 533)	0.16400730347966605
  (0, 428)	0.14480710249054038
  (0, 13194)	0.1460072234045736
  (0, 8247)	0.14258556698453415
  (0, 8077)	0.1669712770888808
  (0, 1178)	0.1669712770888808
  (0, 6720)	0.09939253039334757
  (0, 1034)	0.14056628189744372
  (0, 633)	0.13700718336702736
  (0, 11182)	0.14366855395969502
  (0, 13142)	0.10816721996836318
  (0, 7722)	0.0874285167465866
  (0, 9513)	0.06394158650289854
  (0, 14352)	0.1744398940932959
  (0, 4823)	0.08589709371345547
  (0, 14318)	0.10686114739776267
  (0, 6783)	0.13255293007270985
  (0, 13018)	0.09959538243705136
  (0, 9579)	0.0736878087323703
  (0, 3325)	0.11965590860182923
  (0, 4727)	0.11432976440217778
  (0, 6061)	0.19730018458027812
  (0, 6401)	0.14921553081605893
  (0, 1273)	0.19477864361326694
  (0, 7859)	0.15005418398894924
  :	:
  (4757, 6612)	0.282967046407734
  (4757, 1886)	0.282967046407734
  (4757, 702)	0.282967046407734
  (4757, 12127)	0.282967046407734
  (4757, 4987)	0.24256955606784908
  (4757, 13281)	0.24256955606784908
  (4757, 12456)	0.2382636073135533
  (4757, 1010)	0.1897620522430951
  (4757, 2978)	0.19673453718663794
  (4757, 5712)	0.22021783652075874
  (4757, 11831)	0.16361221671972725
  (4757, 11741)	0.15120773298106838
  (4757, 9334)	0.19160522332095334
  (4757, 4685)	0.13414457066004923
  (4757, 2517)	0.16786134305412895
  (4757, 7244)	0.23446549133727582
  (4757, 5948)	0.16878274045037628
  (4757, 7171)	0.17916887523686975
  (4757, 13096)	0.08017430864947131
  (4757, 13166)	0.09777405967688488
  (4757, 6577)	0.11402334640583417
  (4757, 9288)	0.14374223792809548
  (4757, 3850)	0.06524734955166166
  (4758, 9168)	1.0
  (4759, 9168)	1.0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
Match_score=cosine_similarity(X)

In [ ]:
Match_score

array([[1.        , 0.01383423, 0.03601212, ..., 0.        , 0.        ,
        0.        ],
       [0.01383423, 1.        , 0.00822535, ..., 0.        , 0.        ,
        0.        ],
       [0.03601212, 0.00822535, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        1.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        1.        ]])

In [ ]:
Match_score.shape

(4760, 4760)

### **Movie name input and suggestion-**

In [ ]:
movie_name=input("Enter Movie name: ")

Enter Movie name: acatar

In [ ]:
movie_list=list(df["Movie_Title"])

In [ ]:
import difflib

In [ ]:
Recommendations=difflib.get_close_matches(movie_name,movie_list)

In [ ]:
print("Closest Movie Recommendation:",Recommendations[0])
index_of_match=df[df["Movie_Title"]==Recommendations[0]]["Movie_ID"].values[0]
print("Movie Id:",index_of_match)

Closest Movie Recommendation: Avatar
Movie Id: 2692

### **Enter movie with definite features of your likes-**

In [ ]:
movie=input("Enter movie name of definite features(like-genre, cast) you like: ")

Enter movie name of definite features(like-genre, cast) you like: crime

In [ ]:
Recommendations=difflib.get_close_matches(movie,movie_list)
index_of_match=df[df["Movie_Title"]==Recommendations[0]]["Movie_ID"].values[0]

In [ ]:

recommendation_score=list(enumerate(Match_score[index_of_match]))

#### **Top-10 movie recommendation:**

In [ ]:
similar_movie_list=sorted(recommendation_score,key=lambda x:x[1],reverse=True)

In [ ]:
print("Top 10 Recommendations: ")
i=0
while(i<10):
  ind=similar_movie_list[i][0]
  title=df[df.index==ind]["Movie_Title"].values[0]
  print(i+1,"\b.",title)
  i+=1

Top 10 Recommendations:
1 . My Life Without Me
2 . Beverly Hills Cop II
3 . Star Trek III: The Search for Spock
4 . Oliver Twist
5 . Riding Giants
6 . Dave Chappelle's Block Party
7 . Beverly Hills Cop III
8 . The Celebration
9 . Summer Storm
10 . Garden State